<!-- Content Header (Page header) -->
<section class="content-header">
  <h1>
        Liste des contacts
      </h1>
  <ol class="breadcrumb">
    <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
    <li class="active">List contacts</li>
  </ol>
</section>
<!-- Main content -->
<section class="content">
  <div class="row">
    <div class="col-xs-12">
      <div class="box">
        <!-- /.box-header -->
        <div class="box-body">
          <div class="row">
            <div class="col-sm-6">
            </div>
            <div class="col-sm-6" style="text-align: right;">
              <a class="btn btn-app" ng-click="addUser()">
                                    <i class="fa fa-plus-circle"></i> Ajouter
                                </a>
            </div>
          </div>
          <table id="example2" class="table table-bordered table-hover">
            <thead>
              <tr>
                <th>FirstName</th>
                <th>LastName</th>
                <th>email</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Trident</td>
                <td>Internet Explorer 4.0
                </td>
                <td>Win 95+</td>
                <td class=" btn-group-xs text-center">
                  <a class="btn btn-primary"><i class="fa fa-eye"></i></a>
                  <a class="btn btn-warning"><i class="fa fa-pencil-square-o"></i></a>
                  <a class="btn btn-danger"><i class="fa fa-trash"></i></a>
                </td>
              </tr>
              <tr>
                <td>Trident</td>
                <td>Internet Explorer 5.0
                </td>
                <td>Win 95+</td>
                <td class=" btn-group-xs text-center">
                  <a class="btn btn-primary"><i class="fa fa-eye"></i></a>
                  <a class="btn btn-warning"><i class="fa fa-pencil-square-o"></i></a>
                  <a class="btn btn-danger"><i class="fa fa-trash"></i></a>
                </td>
              </tr>
              <tr>
                <td>Trident</td>
                <td>Internet Explorer 5.5
                </td>
                <td>Win 95+</td>
                <td class=" btn-group-xs text-center">
                  <a class="btn btn-primary"><i class="fa fa-eye"></i></a>
                  <a class="btn btn-warning"><i class="fa fa-pencil-square-o"></i></a>
                  <a class="btn btn-danger"><i class="fa fa-trash"></i></a>
                </td>
              </tr>
              <tr>
                <td>Trident</td>
                <td>Internet Explorer 6
                </td>
                <td>Win 98+</td>
                <td class=" btn-group-xs text-center">
                  <a class="btn btn-primary"><i class="fa fa-eye"></i></a>
                  <a class="btn btn-warning"><i class="fa fa-pencil-square-o"></i></a>
                  <a class="btn btn-danger"><i class="fa fa-trash"></i></a>
                </td>
              </tr>
          </tbody>

          </table>
        </div>
        <!-- /.box-body -->
      </div>
      <!-- /.box -->
      <!-- /.box -->
    </div>
    <!-- /.col -->
  </div>
  <!-- /.row -->
</section>
<!-- /.content -->
